<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Phalcon PHP Framework</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->url->get('img/favicon.ico')?>"/>
    </head>
    <body>
        <div class="container">
            <?php echo $this->getContent(); ?>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

     <form class="form-inline my-2 my-lg-0" align="center">
                    <?php
                        # Check User Login
                        if ($this->session->has('IS_LOGIN'))
                        {
                            echo $this->tag->linkTo([
                                "imc/init",
                                '<i class="fa fa-user" aria-hidden="true"></i> Profile',
                                "class" => "btn btn-light"
                            ]);

                            echo "&nbsp;";

                            echo $this->tag->linkTo([
                                "user/logout",
                                '<i class="fa fa-sign-out" aria-hidden="true"></i> Logout',
                                "class" => "btn btn-danger"
                            ]);


                        } else 
                        {
                             echo $this->tag->linkTo([
                                "usuarioimc/initial",
                                '<i class="fa fa-sign-in" aria-hidden="true"></i> Calcular IMC',
                                "class" => "btn btn-light"
                            ]);
                            echo "&nbsp;";

                            echo $this->tag->linkTo([
                                "user/login",
                                '<i class="fa fa-sign-in" aria-hidden="true"></i> Login',
                                "class" => "btn btn-light"
                            ]);
                            echo "&nbsp;";
    
                            echo $this->tag->linkTo([
                                "user/register",
                                '<i class="fa fa-user-plus" aria-hidden="true"></i> Register',
                                "class" => "btn btn-outline-light"
                            ]);
                        }
                    ?>
                </form>
</html>
