<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="page-header">
    <h1>
        Search usuario_imc
    </h1>
    <p>
        <?php echo $this->tag->linkTo(["usuario_imc/new", "Create usuario_imc"]) ?>
    </p>
</div>

<?php echo $this->getContent() ?>

<?php
    echo $this->tag->form(
        [
            "usuario_imc/search",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldId" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["id", "type" => "number", "class" => "form-control", "id" => "fieldId"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldNome" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["nome", "size" => 30, "class" => "form-control", "id" => "fieldNome"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["email", "size" => 30, "class" => "form-control", "id" => "fieldEmail"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldIdade" class="col-sm-2 control-label">Idade</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["idade", "type" => "number", "class" => "form-control", "id" => "fieldIdade"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAltura" class="col-sm-2 control-label">Altura</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["altura", "size" => 30, "class" => "form-control", "id" => "fieldAltura"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPeso" class="col-sm-2 control-label">Peso</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["peso", "size" => 30, "class" => "form-control", "id" => "fieldPeso"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Search", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
