<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["usuario_imc", "Go Back"]) ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>
        Create usuario_imc
    </h1>
</div>

<?php echo $this->getContent(); ?>

<?php
    echo $this->tag->form(
        [
            "usuario_imc/create",
            "autocomplete" => "off",
            "class" => "form-horizontal"
        ]
    );
?>

<div class="form-group">
    <label for="fieldNome" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["nome", "size" => 30, "class" => "form-control", "id" => "fieldNome"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["email", "size" => 30, "class" => "form-control", "id" => "fieldEmail"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldIdade" class="col-sm-2 control-label">Idade</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["idade", "type" => "number", "class" => "form-control", "id" => "fieldIdade"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldAltura" class="col-sm-2 control-label">Altura</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["altura", "size" => 30, "class" => "form-control", "id" => "fieldAltura"]) ?>
    </div>
</div>

<div class="form-group">
    <label for="fieldPeso" class="col-sm-2 control-label">Peso</label>
    <div class="col-sm-10">
        <?php echo $this->tag->textField(["peso", "size" => 30, "class" => "form-control", "id" => "fieldPeso"]) ?>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->tag->submitButton(["Save", "class" => "btn btn-default"]) ?>
    </div>
</div>

<?php echo $this->tag->endForm(); ?>
