<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(["usuario_imc/index", "Go Back"]); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(["usuario_imc/new", "Create "]); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Search result</h1>
</div>

<?php echo $this->getContent(); ?>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Idade</th>
            <th>Altura</th>
            <th>Peso</th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($page->items as $usuario_imc): ?>
            <tr>
                <td><?php echo $usuario_imc->id ?></td>
            <td><?php echo $usuario_imc->nome ?></td>
            <td><?php echo $usuario_imc->email ?></td>
            <td><?php echo $usuario_imc->idade ?></td>
            <td><?php echo $usuario_imc->altura ?></td>
            <td><?php echo $usuario_imc->peso ?></td>

                <td><?php echo $this->tag->linkTo(["usuario_imc/edit/" . $usuario_imc->id, "Edit"]); ?></td>
                <td><?php echo $this->tag->linkTo(["usuario_imc/delete/" . $usuario_imc->id, "Delete"]); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            <?php echo $page->current, "/", $page->total_pages ?>
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><?php echo $this->tag->linkTo("usuario_imc/search", "First") ?></li>
                <li><?php echo $this->tag->linkTo("usuario_imc/search?page=" . $page->before, "Previous") ?></li>
                <li><?php echo $this->tag->linkTo("usuario_imc/search?page=" . $page->next, "Next") ?></li>
                <li><?php echo $this->tag->linkTo("usuario_imc/search?page=" . $page->last, "Last") ?></li>
            </ul>
        </nav>
    </div>
</div>
